{% extends "base.html" %}
{% load static %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'corrida/css/cadastrar_corrida.css' %}">
    <link rel="stylesheet" href="{% static 'corrida/css/autocomplete.css' %}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
{% endblock %}

{% block content %}
<div class="corrida-container">
    <section class="corrida-card">
        <h3>Cadastrar Corrida 🚗</h3>

        <form method="POST" class="form-corrida">
            {% csrf_token %}

            {% if messages %}
                <div>
                    {% for message in messages %}
                        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">{{ message }}</div>
                    {% endfor %}
                </div>
            {% endif %}

            {% if form.non_field_errors %}
                <div class="alert-danger">
                    {{ form.non_field_errors }}
                </div>
            {% endif %}

            {% include "corrida/form_corrida_fields.html" %}

            <button type="submit" class="action-btn" style= "border: none; padding: 10px 20px; border-radius: 15px;">Cadastrar Corrida</button>
            <button type="button" onclick="history.back()" style="background-color: red; color: white; border: none; padding: 12px 343px; border-radius: 15px;">Cancelar</button>


        </form>
    </section>

    <!-- Mapa interativo -->
    <div id="map"></div>
</div>

<!-- autocomplete (DEVE vir antes do mapa e antes de qualquer script que use as funções) -->
<script src="{% static 'corrida/js/autocomplete.js' %}"></script>

<!-- Scripts do Leaflet e mapa -->
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
<script src="{% static 'corrida/js/cadastrar_corrida_map.js' %}"></script>
{% endblock %}
