{% extends "base.html" %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'corrida/css/cadastrar_corrida.css' %}">
{% endblock %}

{% block content %}
<div class="corrida-container">
    <section class="corrida-card">
        <h3>Editar Corrida 🚗</h3>

        <form method="POST" class="form-corrida">
            {% csrf_token %}

            {% if messages %}
            <div>
                {% for message in messages %}
                    <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">{{ message }}</div>
                {% endfor %}
            </div>
            {% endif %}

            {% if form.non_field_errors %}
            <div class="alert-danger">
                {{ form.non_field_errors }}
            </div>
            {% endif %}


            <!-- Inclui os campos via template parcial -->
            {% include "corrida/form_corrida_fields.html" %}

            
            <!-- Status (apenas no editar) -->
            <div class="form-group">
                <label for="{{ form.status.id_for_label }}">Status da Corrida</label>
                {{ form.status }}
            </div>

            <button type="submit" class="action-btn">Atualizar Corrida</button>
        </form>
    </section>
</div>

<!-- JS para autocomplete -->
<script src="{% static 'corrida/js/autocomplete.js' %}"></script>
{% endblock %}
